body{
    background-color: #ED1942;
}

h1{
    font-family: 'Lora', sans-serif;
} 

h3, h4, h5, footer{
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    padding-top: 70px;
    color: white;
    text-align: center;
}

.video{
    padding-top: 20px;
    height: 70vh;
    display: inline-block;
    margin-bottom: 50px; 
}

.video-detail{
    background-color: white;
    color: black;
    border-radius: 2px;
    max-width: 888px;
    text-align: center;
}

.paragraphs{
    padding-top: 20px; 
    color: black;
    background-color: white; 
}

h1.paragraphs{
    margin-left: 10px;
}

h5.paragraphs{
    margin-left: 10px;
}

.footer{
    color: white;
    background-color: #ED1942;
}

h4.footer{
    margin-left: 10px;
}

i{
    color: white; 
    margin-left: 5px;
}

.logos{
  margin-left: 20px;
}

.blockquote-footer{
  margin-left: 15px;
  color: black; 
  font-size: 20px;
}

a:hover{
  text-decoration: none;
}

.content-container{
  max-width:1100px; 
}


.about{
  padding-top: 20px;
}

.cite{
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

img{
  display: block;
  margin: 0 auto;
}

.centering{
  display: block;
  text-align: center;
  margin: 0 auto;
}

figcaption{
  text-align: center; 
  font-size: 20px;
}
